.career {
  padding-top: 111px;
  padding-bottom: 111px;
  background-color: #f3e02b;
  &__content {
    text-align: center;
    color: #000;
    &--title {
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      margin-bottom: 41px;
      max-width: 441px;
      margin-left: auto;
      margin-right: auto;
    }
    &--text {
      font-size: 22px;
      font-weight: 400;
      line-height: 32px;
      max-width: 647px;
      margin-bottom: 79px;
      margin-left: auto;
      margin-right: auto;
    }
    &--link {
      @include subscribe-button;
    }
  }
}
