.login {
  background: #0f1035;
  padding-top: 20px;
  padding-bottom: 20px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--link {
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
    }
  }
  &__items {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}
